<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="/css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" src="/layui/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>

    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="bookDetail">
                    <input type="hidden" name="bookid" id="bookid" th:value="${bookDetail.getBookid()}">
                  <div class="layui-form-item">
                      <label for="bookname" class="layui-form-label">
                          <span class="x-red">*</span>书名
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="bookname" name="bookname" required="" lay-verify="required"
                          autocomplete="off" class="layui-input" th:value="${bookDetail.getBookname()}">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>请输入书名
                      </div>
                  </div>

                    <div class="layui-form-item">
                        <label for="author" class="layui-form-label">
                            <span class="x-red">*</span>作者
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="author" name="author" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input" th:value="${bookDetail.getAuthor()}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请输入作者
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="content" class="layui-form-label">
                            <span class="x-red">*</span>简介
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="content" name="content" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input" th:value="${bookDetail.getContent()}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请输入简介
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="price" class="layui-form-label">
                            <span class="x-red">*</span>价格
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="price" name="price" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input" th:value="${bookDetail.getPrice()}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请输入价格
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="discount" class="layui-form-label">
                            <span class="x-red">*</span>页数
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="discount" name="discount" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input" th:value="${bookDetail.getDiscount()}">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请输入页数
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="booktypeid" class="layui-form-label">
                            <span class="x-red">*</span>书的类型
                        </label>
                        <div class="layui-input-inline">
                            <!--${bookTypesList.getTypeid().toString() eq bookDetail.getBookuploadid()}-->
                            <select name="booktypeid" id="booktypeid" lay-verify="required" lay-search="">
                                <option value="">直接选择或搜索选择</option>]
                                <option th:each="bookTypesList:${bookTypes}" th:value="${bookTypesList.getTypeid()}" th:text="${bookTypesList.getTypename()}"
                                       th:selected="${bookTypesList.getTypeid().toString() eq bookDetail.getBooktypeid()}" ></option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请选择书类型
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">
                        </label>
                        <button  class="layui-btn" lay-filter="edit" lay-submit="" >
                            修改
                        </button>
                    </div>
              </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer','upload'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    upload = layui.upload,
                    layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 2) {
                            return '类型至少2个字符';
                        }
                    }
                });

                //监听提交
                form.on('submit(edit)',
                function(data) {
                    //console.log(data);
                    var data1=$('#bookDetail').serialize();
                    $.ajax({
                        url:"detailEditSave"
                        ,data:data1
                        ,type: "post"
                        ,dateType:"json"
                        ,success:function (data) {
                            if(data>0){
                                //发异步，把数据提交给php
                                layer.alert("修改成功", {
                                        icon: 6
                                    },
                                    function() {
                                        //关闭当前frame
                                        xadmin.close();

                                        // 可以对父窗口进行刷新
                                        xadmin.father_reload();
                                    });
                            }else {
                                layer.alert("修改失败");
                            }
                        }
                    });
                    return false;
                });

            });</script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>
