<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link th:href="@{/css/font.css}" rel="stylesheet"/>
    <link th:href="@{/css/xadmin.css}" rel="stylesheet"/>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/css/theme1.css}" rel="stylesheet"/>
    <link th:href="@{/css/theme2.css}" rel="stylesheet"/>
    <link th:href="@{/css/theme3.css}" rel="stylesheet"/>
    <link th:href="@{/css/theme4.css}" rel="stylesheet"/>
    <link th:href="@{/css/theme5.css}" rel="stylesheet"/>
    <link th:href="@{/layui/css/modules/laydate/default/laydate.css}" rel="stylesheet"/>

</head>

<div th:fragment="footer">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/xadmin.js}"></script>
    <script th:src="@{/js/verify.js}"></script>
    <script th:src="@{/layui/lay/modules/form.js}"></script>
    <script th:src="@{/layui/lay/modules/carousel.js}"></script>
    <script th:src="@{/layui/lay/modules/code.js}"></script>
    <script th:src="@{/layui/lay/modules/colorpicker.js}"></script>
    <script th:src="@{/layui/lay/modules/element.js}"></script>
    <script th:src="@{/layui/lay/modules/flow.js}"></script>
    <script th:src="@{/layui/lay/modules/jquery.js}"></script>
    <script th:src="@{/layui/lay/modules/laydate.js}"></script>
    <script th:src="@{/layui/lay/modules/layedit.js}"></script>
    <script th:src="@{/layui/lay/modules/layer.js}"></script>
    <script th:src="@{/layui/lay/modules/laypage.js}"></script>
    <script th:src="@{/layui/lay/modules/laytpl.js}"></script>
    <script th:src="@{/layui/lay/modules/mobile.js}"></script>
    <script th:src="@{/layui/lay/modules/rate.js}"></script>
    <script th:src="@{/layui/lay/modules/slider.js}"></script>
    <script th:src="@{/layui/lay/modules/table.js}"></script>
    <script th:src="@{/layui/lay/modules/tree.js}"></script>
    <script th:src="@{/layui/lay/modules/upload.js}"></script>
    <script th:src="@{/layui/lay/modules/util.js}"></script>
    <script th:src="@{/js/xcity.js}"></script>
</div>