<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="/css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" src="/layui/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js" th:src="@{/js/xadmin.js}"></script>

    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username" id="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button id="searchType" class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                        </div>
                        <div class="layui-card-body ">
                            <table id="orderList" lay-filter="test"></table>
                        </div>


                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
      layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }



      function delAll () {
          var table = layui.table,
              checkStatus = table.checkStatus('orderList'),
              data = checkStatus.data,
              orderId = "";
          console.log(data);
          if (data.length > 0){
              for (var i in data) {
                  orderId += data[i].orderId + ",";
              }
              console.log(orderId);
              layer.confirm('确定删除选中的数据？', {icon: 3, title: '提示信息'}, function (index) {
                  $.post('/order/deleteSelectTypeId/'+orderId,function(data1){
                     /* tableIns.reload();*/
                      if(data1){
                          layer.msg("删除成功！",{icon: 1, time: 2000, shade: 0.2});
                          //layer.close(index);
                          // 可以对父窗口进行刷新
                          xadmin.father_reload();
                      }else {
                          layer.msg("删除失败！",{icon: 1, time: 2000, shade: 0.2});
                      }
                  });
              })
          }else{
              layer.msg("请选择需要删除的数据");
          }
      }
    </script>
    <script th:inline="none">
        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#orderList'
                ,url: 'orderListData' //数据接口
                ,page: true //开启分页
                ,limit:5     //表单显示多少条记录
                ,limits:[5,10,20]
                ,method:'post'
                ,cols: [[ //表头
                    {type: 'checkbox', fixed: 'left'}
                    ,{field: 'orderId', title: 'ID', sort: true, fixed: 'left'}
                    , {
                        field: 'user', title: '用户', templet: function (data) {
                            return data.user.username;
                        }
                    }
                    ,{field: 'price', title: '单价' }
                    ,{field: 'orderQuantity', title: '购买数量' }
                    ,{field: 'totalPrice', title: '总价' }
                    ,{field: 'createDate', title: '下单时间'}
                    ,{field: 'updataData', title: '更新时间'}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                ]]
            });

            //监听工具条
            table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    ,layEvent = obj.event; //获得 lay-event 对应的值
                console.log();
                if(layEvent === 'detail'){
                    viewLableInfo(data.orderId);
                    layer.msg(data.orderId);
                } else if(layEvent === 'del'){
                    layer.msg('删除');
                    layer.confirm('确定删除这条数据吗？删除将不能找回！',{btn:['确定','取消']},function f(index) {
                        console.log(index);
                        $.ajax({
                            url:"deleteOrder"
                            ,data:{orderId:data.orderId}
                            ,success:function (data2) {
                                if(data2>0){
                                    obj.del();
                                    layer.msg('已删除!',{icon:1,time:1000});
                                }else {
                                    layer.msg('删除失败!',{icon:1,time:1000});
                                }
                            }
                        })
                    });
                } else if(layEvent === 'edit'){
                    layer.open({
                        title:"管理员修改"
                        ,type:2
                        ,area:["700px","550px"]
                        ,content:"orderEdit/"+data.orderId
                    })
                }
            });

            //按条件查询
            /*$("#searchType").click(function (data) {
                var username = $("#username").val();
                $.ajax({
                    url: "searchByOrder",
                    type: "POST",
                    data: {username: username},
                    dataType: 'json',
                    success: function (data) {
                        if (data.data.length != 0) {
                            table.render({
                                elem: '#orderList'
                                , data: data.data
                                , page: true //开启分页
                                , limit: 5     //表单显示多少条记录
                                , limits: [5, 10, 20]
                                , method: 'post'
                                ,cols: [[ //表头
                                    {type: 'checkbox', fixed: 'left'}
                                    ,{field: 'orderId', title: 'ID', sort: true, fixed: 'left'}
                                    , {
                                        field: 'user', title: '用户', templet: function (data) {
                                            return data.user.username;
                                        }
                                    }
                                    ,{field: 'price', title: '单价' }
                                    ,{field: 'orderQuantity', title: '购买数量' }
                                    ,{field: 'totalPrice', title: '总价' }
                                    ,{field: 'createDate', title: '下单时间'}
                                    ,{field: 'updataData', title: '更新时间'}
                                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                                ]]
                            });
                        } else {
                            layer.alert("无查询结果", {icon: 5, time: 1500});
                        }
                    }
                });
                return false;
            });*/


        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
</html>